@using Hacathoon_Master.Entities
@model HackathonListViewModel
@{
    ViewBag.Title = "Админка";
    Layout = "_Layout";
}

@section SidebarMenu
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Users" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Пользователи
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Hackathons" class="nav-link active">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Хакатоны
                    </p>
                </a>
            </li>
        </ul>
    </nav>
}

<div class="">
    <div class="row">
        <a asp-action="CreateHackathon" asp-controller="Admin">
            <button class="btn btn-info">
                Создать хакатон
            </button>
        </a>
    </div>
    <div class="row" style="padding-top: 5px;">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Дата окончания регистрации</th>
                <th scope="col">Тип</th>
                <th scope="col">Организатор</th>
                <th scope="col">Цель</th>
                <th scope="col">Приз</th>
                <th scope="col">Целевая аудитория</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var hackathon in Model.Hackathons)
            {
                <tr class="table-secondary">
                    <th scope="row">@hackathon.Id</th>
                    <td>@hackathon.Name</td>
                    <td>@hackathon.StartDate.ToShortDateString()</td>
                    <td>@hackathon.EndDate.ToShortDateString()</td>
                    <td>@hackathon.EndRegistrationDate.ToShortDateString()</td>
                    <td>@hackathon.Type</td>
                    <td>@hackathon.Organisation</td>
                    <td>@hackathon.Goal</td>
                    <td>@hackathon.Prize</td>
                    <td>@hackathon.TargetAudience</td>
                    <td>
                        <a asp-action="EditHackathon" asp-controller="Admin" asp-route-hackathonId="@hackathon.Id">
                            <button>
                                Изменить
                            </button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

